.campo {
    margin: 24px 0;
}

.campo label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

.campo input {
    background: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 16px;
    box-sizing: border-box;
}

.campo-color input {
    height: 40px;
    width: 200px;
    padding: 4px 8px;
}

@media screen and (max-width: 1100px) {
    .campo input {
        font-size: 14px;
        padding: 12px;
    }

    .campo-color input {
        padding: 4px 8px;
    }
}

@media screen and (max-width: 820px) {
    .campo input {
        font-size: 16px;
        padding: 14px;
    }

    .campo-color input {
        padding: 4px 8px;
    }
}

@media screen and (max-width: 470px) {
    .campo label {
        font-size: 14px;
    }

    .campo input {
        font-size: 14px;
        padding: 12px;
    }

    .campo-color input {
        padding: 4px 8px;
    }
}