body {
  font-family: Arial, Helvetica, sans-serif
}

.times {
  text-align: center;
}

h1 {
  font-size: 40px;
  color: #6278F7;
  border-bottom: 4px solid #6278F7;
  display: inline-block;
  padding-bottom: 12px;
  margin: 32px 0;
}

@media screen and (max-width: 920px) {
  .times h1 {
    font-size: 36px;
    padding-bottom: 10px;
    border-bottom: 3.5px solid #6278F7;
  }
}

@media screen and (max-width: 640px) {
  .times h1 {
    font-size: 32px;
    padding-bottom: 6px;
    border-bottom: 2.5px solid #6278F7;
  }
}

@media screen and (max-width: 450px) {
  .times h1 {
    font-size: 26px;
    padding-bottom: 8px;
    border-bottom: 2.3px solid #6278F7;
  }
}